.container-cuenta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.info-cuenta {
    width: 70%;
    text-align: left;
}

.foto-cuenta {
    width: 20rem;
    height: 20rem;
    border-radius:50%;
    border: 4px solid black;
}

.foto-cuenta-edit:hover{
    opacity: 70%;
    cursor: pointer;
}

.container-cuenta a{
    text-decoration: none;
    font-size: 1.5rem;
}
