.container-cuenta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.info-cuenta {
    width: 70%;
    text-align: left;
}

.foto-cuenta {
    width: 20rem;
    height: 20rem;
}

.button{
    background-color: dodgerblue;
    color: aliceblue;
    border-radius: 20px;
    width: 5rem;
    font-size: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    border: none;
}

.container-cuenta a{
    text-decoration: none;
    font-size: 1.5rem;
}
