.container-eventos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    text-align: center;
}

.evento {
    border: 4px solid black;
    background-color: aliceblue;
    margin: 2rem;
}

.eventos-link {
    text-decoration: none;
    color: black;
}

.evento:hover {
    opacity: 90%;
    box-shadow: 0px 0px 15px 1px black;
}

.botones-eventos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.botones-eventos form {
    margin: 1rem;
}

.editar-eventos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    text-align: left;
    margin-right: 13rem;
}

.editar-eventos input {
    margin: .5rem;
}

.novisible {
    background-color: rgb(248, 197, 197);
}

.apuntados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.evento-unido {
    background-color: rgb(192, 252, 192);
}

.boton-evento {
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: 2px solid black;
}

.boton-evento:hover {
    /* background-color: dodgerblue; */
    text-decoration: underline black;

}

.mostrar-ocultar {
    border: none;
    background-color: transparent;
    color: dodgerblue;
}

.mostrar-ocultar:hover{
    color: rgb(10, 109, 207);
}
